*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}
html {
  //defining 1rem as 10px(the browser has 16px default, 62.5% * 16 = 10)
  font-size: 62.5%;

  @include respond(tab-land) {
    font-size: 56.25%; //1rem = 9px
  }
  @include respond(tab-port) {
    font-size: 50%; //1rem 8px
  }
  @include respond(big-desktop) {
    font-size: 75%; // 1rem = 12px
  }
}
body {
  box-sizing: border-box;
  padding:3rem;
  @include respond(tab-port)
  {
    padding : 0;
  }
  
}
::selection{
  background-color: $color-primary;
  color : $color-white;
}

